<p id="notice"><%= notice %></p>

<p>
  <strong>Current time:</strong>
  <%= @user_time.current_time %>
</p>

<%= link_to 'Edit', edit_user_time_path(@user_time) %> |
<%= link_to 'Back', user_times_path %>
